.container {
    display: flex;
    justify-content: center;
    background: rgb(244, 246, 240);
    min-height: 100vh;
}

.title{
    font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
    font-size: 32px;
}

.draw-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 30px;
    background: rgb(244, 246, 240);
    /* width: 80%; */
}

/* .canvas-wrapper {
    flex: 1;
    max-width: 80%;
} */

.controls-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.panel-input {
    width: 100%;
    padding: 5px;
}

.color-picker-wrapper {
    margin-top: 10px;
}

.button-outline{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}